/* Header.css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  background: #22223b;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background 0.2s;
}

.header:hover {
  background: #9a8c98;
} 